vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 May 2018 16:25:01 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Empleados.php Inicio.php shop.php
vti_author:SR|SEGUNDO\\jonamengual
vti_modifiedby:SR|SEGUNDO\\jonamengual
vti_timecreated:TR|16 May 2018 19:37:45 -0000
vti_nexttolasttimemodified:TW|31 May 2018 15:37:48 -0000
vti_cacheddtm:TX|31 May 2018 16:25:01 -0000
vti_filesize:IR|2484
